@model ProductViewmodel
<form method="post" enctype="multipart/form-data" asp-action="Edit">
    <input hidden asp-for="Product.Id"/>
    <div class="border">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group row">
            <h2 class="text-info">Edit Category</h2>
        </div>

        <div class="row">
            <div class="col-8">
                <div class="row form-group">
                    <div class="col-4">
                        <label asp-for="Product.Name"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="Product.Name" class="form-control" />
                        <span asp-validation-for="Product.Name" class="text-danger"></span>
                    </div>
                </div>

                <div class="row form-group">
                    <div class="col-4">
                        <label asp-for="Product.Price"></label>
                    </div>
                    <div class="col-8">
                        <span asp-for="Product.Price" class="form-control"></span>

                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-4">
                        Image
                    </div>
                    <div class="col-8">
                        <input type="file" name="files" value="" class="form-control" />
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-4">
                        <label asp-for="Product.Description"></label>
                    </div>
                    <div class="col-8">
                        <textarea asp-for="Product.Description" class="form-control"></textarea>

                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-4">
                        <label asp-for="Product.CategoryId"></label>
                    </div>
                    <div class="col-8">
                        <select asp-for="Product.CategoryId" asp-items="@Model.CategoryeSelectList" class="form-control">
                            <option disabled selected>Vui lòng chọn Category</option>
                        </select>
                        <span asp-validation-for="Product.Description" class="text-danger"></span>

                    </div>
                </div>
                <div class="row form-group">
                    <div class="col">
                        <input type="submit" value="Submit" class="btn btn-info" />
                    </div>
                    <div class="col">
                        <a asp-action="Index" class="btn btn-success">Back</a>
                    </div>
                </div>
                <div class="col-4">
                    <img src="@Bai2.Common.CommonDefault.ImagePath@Model.Product.ImageUrl" width="100%" style="border-radius: 10px; border: 1px solid #ff6a00" />
                </div>
            </div>
        </div>
    </div>

</form>
@section ScriptsValidate {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}


